@model DebatePlatform.Models.ApplicationUser

@{
    ViewData["Title"] = "Debatrix - User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.LoggedIn)
{
    <div class="inline">
        <h2>@Model.UserName</h2>
        @using (Html.BeginForm("LogOff", "Accounts"))
        {
            <button type="submit">Log out</button>
        }
    </div>
    <hr />
    <div class="white-page">
        <h3>@Model.UserName's Arguments:</h3>
        <ul>
            @foreach (var argument in ViewBag.UserArguments)
            {
                <li><a href="/Arguments/Tree/@argument.ArgumentId">@argument.Text</a> <span class="float-right">@Html.ActionLink("View Full Debate", "Tree", "Arguments", new { id = argument.GetRoot().ArgumentId })</span></li>
            }
        </ul>
    </div>
}
else
{
    <div class="white-page">
        <p>@Html.ActionLink(" - Register - ", "Register")</p>
        <p>@Html.ActionLink(" - Log In - ", "Login")</p>
    </div>
}
