@model DebatePlatform.Models.Argument
@using DebatePlatform.Helpers
@using DebatePlatform.Models
@{
    ViewData["Title"] = Model.Text;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Text</h2>
<h4>@Model.Strength</h4>
<hr />
@Citation.SearchPage("Donald Trump", 1);
<h4>Proposed Edits: @Html.ActionLink("+ Propose your own", "ProposeEdit", "Arguments", new { id = Model.ArgumentId})</h4>
<ol>
    @foreach (var edit in Model.ProposedEdits)
    {
        <li>@CustomHelpers.DescribeEdit(edit)</li>
        <label>Votes: @edit.Votes</label>
        @using (Html.BeginForm("CastEditVote", "Arguments", new { id = edit.Id })) { <button type="submit">I Agree</button> }
    }
</ol>