@using DebatePlatform.Helpers
@model DebatePlatform.Models.Argument

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Debatrix - @Model.Text</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div>
        <br />
        <a href="/Arguments"><strong>&#8678; Back</strong></a>
        <br />
        <br />

        @CustomHelpers.BeginTreeContainer(Model)
            <div class="argument">
                <h4>Score: @Model.GetTotalStrength()</h4>
                <h2 class="arg-text">@Model.Text</h2>
                <a class="float-left" href="/Arguments/Create/@Model.ArgumentId">Respond</a>
            </div>

            @CustomHelpers.DisplayChildren(Model, ViewBag.UserType)
        </div>
    </div>
    <script type="text/javascript">
    var curYPos = 0,
    curXPos = 0,
    curDown = false;

    window.addEventListener('mousemove', function (e) {
        if (curDown === true) {
            window.scrollTo(document.body.scrollLeft + (curXPos - e.pageX), document.body.scrollTop + (curYPos - e.pageY));
        }
    });

    window.addEventListener('mousedown', function (e) { curDown = true; curYPos = e.pageY; curXPos = e.pageX; });
    window.addEventListener('mouseup', function (e) { curDown = false; });
    </script>
</body>
</html>